.wd-modules,
.wd-modules * {
  border-radius: 0%;
  border: none;
  margin: 0px;
  padding: 0px;
}

.wd-modules {
  margin: 5px;
}

.wd-modules > li {
  background-color: lightgray;
  border: 1px solid gray !important;
  border-left: none !important;
}

.wd-modules > li > div {
  padding: 6px;
  border-left: 1px solid gray !important;
}

.wd-modules > li > ul > li {
  padding: 5px;
  border-top: 1px solid gray !important;
  border-left: 2px solid green;
}
.d-flex.wd-k {
  display: flex;
  justify-content: flex-start;
}
  

.wd-modules > li {
  margin-bottom: 20px;
}

.flex-container {
  display: flex;
  overflow: auto;
  justify-content: center;
}
.d-none.d-md-block {
  position: relative;
}

.wd-navigation {
  /* ... existing styles ... */
  margin-right: 0; /* Remove right margin */
}

/* Add a class to your main content div */
.main-content {
  margin-left: 0; /* Remove left margin */
}

